
.title {
    font-size: 55px;
    font-weight: 800;
    text-align: center;
    background: linear-gradient(90deg, #ff0000, #ffaa00, #ff006a);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.5), 0 0 20px rgba(255, 0, 0, 0.3);
    animation: faden 1.3s ease-in-out forwards;
    margin-top: 40px;
}


@keyframes faden {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
}


body {
    font-family: Segoe UI;
    max-width: 1000px;
    margin: auto;
    padding: 30px;
    background-color: #000000;
    color: #ccc;
}




section h2 {
    font-size: 28px; 
    font-weight: 800;
    text-align: left; 
    color: #27ae60;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-shadow:
        0 0 5px rgba(39, 174, 96, 0.5),
        0 0 10px rgba(39, 174, 96, 0.3);
    animation: faden 1.3s ease-in-out forwards;
    margin-top: 0; 
    margin-bottom: 10px;
}


section {
    background-color: #0a0a0a;
    border: 1px solid #222;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(255,0,0,0.1);
    padding: 20px;
    margin-top: 25px;
}


textarea, input {
    width: 100%;
    margin: 8px 0;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #444;
    background-color: #111;
    color: #eeeeee;
}


button {
    padding: 10px 20px;
    margin: 8px 5px 0 0;
    cursor: pointer;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #e74c3c;
    color: #fff;
}

button:hover {
    background-color: #c0392b;
}


#splash {
    position: fixed;
    inset: 0;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    animation: splashOut 2.2s ease forwards 2.1s; /* يختفي بعد 2.1 ثانية */
}

.splash-title {
    font-size: 65px;
    font-weight: 900;
    letter-spacing: 6px;
    color: #fff;
    text-shadow:
        0 0 15px #ff0000,
        0 0 25px #ff0000,
        0 0 40px #27ae60;
    animation: splashGlow 2s infinite alternate;
}

@keyframes splashGlow {
    from {
        transform: scale(1);
        text-shadow:
            0 0 10px #ff0000,
            0 0 20px #ff0040,
            0 0 35px #27ae60;
    }
    to {
        transform: scale(1.1);
        text-shadow:
            0 0 20px #ff0000,
            0 0 40px #ff0080,
            0 0 60px #27ae60;
    }
}

@keyframes splashOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}